.cat-header {
    position: absolute;
    z-index: 10;
    top: 13px;
    width: 100%;
    & .containers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__nav {
        width: 100%;
        position: relative;
        &-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            text-transform: uppercase;
            color: #000;
        }
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin: 12px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-lang {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #000;
                cursor: pointer;
            }
            &-select {
                width: 15px;
                height: 15px;
                background: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 9px;
                cursor: pointer;
            }
            &-basket {
                position: relative;
                cursor: pointer;
                &-count {
                    width: 16px;
                    height: 16px;
                    background: #000;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 42px;
                    text-align: center;
                    color: #ADD4A9;
                    cursor: pointer;
                }
            }
            &-menu {
                margin: 0 0 0 22px;
                cursor: pointer;
            }
            &-search {
                margin: 0 0 0 32px;
                cursor: pointer;
            }
        }
    }
    &__line {
        margin: 21px 0 0 0;
        width: 100%;
        border-top: 1px solid #000;
    }
    &__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas: 
            "itemHeaderContent-1 itemHeaderContent-2 itemHeaderContent-3 itemHeaderContent-4 itemHeaderContent-5 itemHeaderContent-6 itemHeaderContent-7 itemHeaderContent-8 itemHeaderContent-9 itemHeaderContent-10"
            ". itemHeaderContent-11 itemHeaderContent-12 itemHeaderContent-13 itemHeaderContent-14 itemHeaderContent-15 itemHeaderContent-16 itemHeaderContent-17 itemHeaderContent-18 ."
        ;
        &-item {
            font-family: Roboto;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                grid-area: itemHeaderContent-1;
            }
            &:nth-child(2) {
                grid-area: itemHeaderContent-2;
            }
            &:nth-child(3) {
                grid-area: itemHeaderContent-3;
            }
            &:nth-child(4) {
                grid-area: itemHeaderContent-4;
                font-size: 14px;
            }
            &:nth-child(5) {
                grid-area: itemHeaderContent-5;
                font-size: 14px;
            }
            &:nth-child(6) {
                grid-area: itemHeaderContent-6;
            }
            &:nth-child(7) {
                grid-area: itemHeaderContent-7;
            }
            &:nth-child(8) {
                grid-area: itemHeaderContent-8;
            }
            &:nth-child(9) {
                grid-area: itemHeaderContent-9;
            }
            &:nth-child(10) {
                grid-area: itemHeaderContent-10;
                font-size: 14px;
            }
            &:nth-child(11) {
                grid-area: itemHeaderContent-11;
                font-size: 14px;
            }
            &:nth-child(12) {
                grid-area: itemHeaderContent-12;
            }
            &:nth-child(13) {
                grid-area: itemHeaderContent-13;
            }
            &:nth-child(14) {
                grid-area: itemHeaderContent-14;
            }
            &:nth-child(15) {
                grid-area: itemHeaderContent-15;
            }
            &:nth-child(16) {
                grid-area: itemHeaderContent-16;
                font-size: 14px;
            }
            &:nth-child(17) {
                grid-area: itemHeaderContent-17;
                font-size: 14px;
            }
            &:nth-child(18) {
                grid-area: itemHeaderContent-18;
            }
        }
    }
}

.cat-headers {
    width: 100%;
    height: 660px;
    position: relative;
    background: transparent;
    margin: 0 0 400px 0;
    padding: 200px 0 0 0;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 660px;
        background: #add4a9;
        z-index: -3;
    }
    &__block {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "categoryHeaderItem-1 categoryHeaderItem-2" "categoryHeaderItem-1 categoryHeaderItem-3";
        gap: 0px 36px;
        &-item-1 {
            grid-area: categoryHeaderItem-1;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: 720px;
            height: 689px;
            padding: 0 0 93px 22px;
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
            &-date {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                z-index: 1;
                & h3 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                }
                & p {
                    margin: 0 0 0 14px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                }
            }
            &-title {
                margin: 22px 0 0 0;
                width: 681.04px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 130%;
                letter-spacing: 0.005em;
                color: #FFFFFF;
            }
            &-text {
                margin: 16px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 125%;
                letter-spacing: 0.005em;
                color: #FFFFFF;
            }
            &-btn {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 198.02px;
                height: 56px;
                background: #ADD4A9;
                border-radius: 0px 0px 0px 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::after {
                    content: url(../svg/category/last-arrow-next.svg);
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
                & a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.005em;
                    color: #252019;
                }
            }
        }
        &-item-2 {
            grid-area: categoryHeaderItem-2;
            width: 355px;
            height: 100%;
            &-photo {
                width: 100%;
                height: 163px;
                border-radius: 4px;
                position: relative;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-date {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 18px 0 0 0;
                & h3 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                }
                & p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                    margin: 0 0 0 14px;
                }
            }
            &-text {
                margin: 16px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 130%;
                color: #1A242D;
            }
            &-btn {
                margin: 18px 25px 0 0;
                position: relative;
                background: transparent;
                cursor: pointer;
                & a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.005em;
                    color: #000000;
                }
                &::after {
                    content: url(../svg/category/last-arrow-next.svg);
                    position: absolute;
                    top: 1px;
                    right: -28px;
                }
            }
        }
        &-item-3 {
            grid-area: categoryHeaderItem-3;
            width: 355px;
            height: 100%;
            margin: 25px 0 0 0;
            &-photo {
                width: 100%;
                height: 163px;
                border-radius: 4px;
                position: relative;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-date {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 18px 0 0 0;
                & h3 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                }
                & p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                    margin: 0 0 0 14px;
                }
            }
            &-text {
                margin: 16px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: 600;
                font-size: 19px;
                line-height: 130%;
                color: #1A242D;
            }
            &-btn {
                margin: 18px 25px 0 0;
                position: relative;
                background: transparent;
                cursor: pointer;
                & a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.005em;
                    color: #000000;
                }
                &::after {
                    content: url(../svg/category/last-arrow-next.svg);
                    position: absolute;
                    top: 1px;
                    right: -28px;
                }
            }
        }
    }
}

.cat-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    & .containers {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0 130px 0;
        &-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 130%;
            color: #1A242D;
        }
        &-wrapper {
            margin: 61px 0 0 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 51px 22px;
        }
        &-item {
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-photo {
                width: 100%;
                height: 364px;
                position: relative;
                overflow: hidden;
                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            &-date {
                margin: 24px 0 0 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                & h3 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                }
                & p {
                    margin: 0 0 0 14px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    color: #858585;
                }
                & a {
                    margin: 0 0 0 29px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 30px;
                    text-decoration-line: underline;
                    color: #6C6C6C;
                }
            }
            &-title {
                margin: 17px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 130%;
                letter-spacing: 0.005em;
                color: #1A242D;
            }
            &-text {
                margin: 21px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 126%;
                letter-spacing: 0.005em;
                color: #242424;
            }
            &-btn {
                margin: 40px 25px 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 120%;
                display: flex;
                align-items: center;
                letter-spacing: 0.005em;
                color: #000000;
                & a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.005em;
                    color: #000000;
                }
                position: relative;
                background: transparent;
                &::after {
                    content: url(../svg/category/last-arrow-next.svg);
                    position: absolute;
                    top: 2px;
                    right: -25px;
                }
            }
        }
        &-count {
            margin: 83px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 320px;
            cursor: pointer;
            &-prev {
                margin: 9px 0 0 0;
                & svg {
                    height: 20px;
                }
            }
            &-next {
                margin: 9px 0 0 0;
                & svg {
                    height: 20px;
                }
            }
            &-item {
                width: 32px;
                height: 32px;
                background: transparent;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 120%;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.005em;
                color: #000000;
                cursor: pointer;
                &-active {
                    background: #ADD4A9;
                }
            }
        }
    }
    &__add {
        display: flex;
        margin: 26px 0 0 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-title {
            height: 42px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 42px;
            color: #000000;
        }
        &-last {
            width: 355px;
            height: 100%;
            background: #ADD4A9;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 16px 56px 0 32px;
            margin: 34px 0 103px 0;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 0 16px 0;
                &:last-child {
                    & .det-content__add-last-item-line {
                        display: none;
                    }
                }
                &-date {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    & h3 {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                    & p {
                        margin: 0 14px 0 14px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                }
                &-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 27px;
                    color: #000000;
                }
                &-line {
                    margin: 10px 0 0 0;
                    width: 267px;
                    height: 0px;
                    border-top: 1px solid #FFFFFF;
                }
            }
        }
        &-contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 21px 0 113px 0;
            &-item {
                width: 150px;
                height: 59px;
                background: #ADD4A9;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0 0 8px 0;
                padding: 0 0 0 0;
                &-line {
                    width: 0;
                    height: 36px;
                    border-left: 1px solid #C1C1C1;
                }
                & svg {
                    margin: 0 15px 0 15px;
                }
                &-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 42px;
                    color: #000000;
                    margin: 0 10px 27px 20px;
                    & p {
                        height: 13px;
                    }
                    & h3 {
                        height: 13px;
                    }
                }
            }
        }
        &-tabs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 270px;
            &-item {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 42px;
                color: #000000;
                opacity: 0.5;
                cursor: pointer;
                &-active {
                    opacity: 1;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 42px;
                    text-decoration-line: underline;
                    color: #000000;
                }
            }
        }
        &-news {
            margin: 10px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 351px;
                margin: 0 0 12px 0;
            }
            &-photo {
                width: 71px;
                height: 71px;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin:  0 13px 0 13px;
                &-date {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    & h3 {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #858585;
                    }
                    & p {
                        margin: 0 0 0 14px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #858585;
                    }
                }
                &-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
            }
        }
    }
}