//! --------------------------------------------------------------------
//! Миксин для шрифтов -------------------------------------------------
//! --------------------------------------------------------------------

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "fonts";
@import "index/style";
@import "detail/style";
@import "category/style";


//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$white: #fff;


//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FFFFFF;
    font-family: Roboto;
    position: relative;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}
button {
    padding: 0;
    border: none;
    cursor: pointer;
}
.containers {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
}
ol, ul {
    padding-left: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.display-n {
    display: none !important;
}
.display-f {
    display: flex !important;
}
.display-g {
    display: grid !important;
}
input[type="range" i] {
    color: transparent;
}
.blocking {
    pointer-events: none !important;
    opacity: 0.5 !important;
    transition: all 0.5s ease;
}




.footer {
    width: 100%;
    background: #749471;
    height: 100%;
    padding: 88px 0 53px 0;
    & .containers {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__add {
        margin: 121px 0 0 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        &-rights {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
        }
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 340px;
        }
        &-item {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
    &__block {
        margin: 40px 0 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        &-list {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin: 0 0 0 135px;
            &-item {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.75;
            }
            &-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                margin: 0 0 17px 0;
            }
        }
        &-contact {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 361px;
            }
            &-item {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
            &-title {
                margin: 101px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: -0.01em;
                color: #FFFFFF;
            }
            &-add {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 339px;
                margin: 37px 0 0 0;
                &-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                }
                &-btn {
                    background: transparent;
                    cursor: pointer;
                }
            }
            &-input {
                margin: 25px 0 0 0;
                width: 338px;
                height: 20px;
                left: 183px;
                top: 7419px;
                background: transparent;
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }
}




