.det-header {
    position: absolute;
    z-index: 10;
    top: 13px;
    width: 100%;
    & .containers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__nav {
        width: 100%;
        position: relative;
        &-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin: 12px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-lang {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                cursor: pointer;
            }
            &-select {
                width: 15px;
                height: 15px;
                background: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 9px;
                cursor: pointer;
            }
            &-basket {
                position: relative;
                cursor: pointer;
                &-count {
                    width: 16px;
                    height: 16px;
                    background: #ADD4A9;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 42px;
                    text-align: center;
                    color: #000000;
                    cursor: pointer;
                }
            }
            &-menu {
                margin: 0 0 0 22px;
                cursor: pointer;
            }
            &-search {
                margin: 0 0 0 32px;
                cursor: pointer;
            }
        }
    }
    &__line {
        margin: 21px 0 0 0;
        width: 100%;
        border-top: 1px solid #FFFFFF;
    }
    &__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas: 
            "itemDetailContent-1 itemDetailContent-2 itemDetailContent-3 itemDetailContent-4 itemDetailContent-5 itemDetailContent-6 itemDetailContent-7 itemDetailContent-8 itemDetailContent-9 itemDetailContent-10"
            ". itemDetailContent-11 itemDetailContent-12 itemDetailContent-13 itemDetailContent-14 itemDetailContent-15 itemDetailContent-16 itemDetailContent-17 itemDetailContent-18 ."
        ;
        &-item {
            font-family: Roboto;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                grid-area: itemDetailContent-1;
            }
            &:nth-child(2) {
                grid-area: itemDetailContent-2;
            }
            &:nth-child(3) {
                grid-area: itemDetailContent-3;
            }
            &:nth-child(4) {
                grid-area: itemDetailContent-4;
                font-size: 14px;
            }
            &:nth-child(5) {
                grid-area: itemDetailContent-5;
                font-size: 14px;
            }
            &:nth-child(6) {
                grid-area: itemDetailContent-6;
            }
            &:nth-child(7) {
                grid-area: itemDetailContent-7;
            }
            &:nth-child(8) {
                grid-area: itemDetailContent-8;
            }
            &:nth-child(9) {
                grid-area: itemDetailContent-9;
            }
            &:nth-child(10) {
                grid-area: itemDetailContent-10;
                font-size: 14px;
            }
            &:nth-child(11) {
                grid-area: itemDetailContent-11;
                font-size: 14px;
            }
            &:nth-child(12) {
                grid-area: itemDetailContent-12;
            }
            &:nth-child(13) {
                grid-area: itemDetailContent-13;
            }
            &:nth-child(14) {
                grid-area: itemDetailContent-14;
            }
            &:nth-child(15) {
                grid-area: itemDetailContent-15;
            }
            &:nth-child(16) {
                grid-area: itemDetailContent-16;
                font-size: 14px;
            }
            &:nth-child(17) {
                grid-area: itemDetailContent-17;
                font-size: 14px;
            }
            &:nth-child(18) {
                grid-area: itemDetailContent-18;
            }
        }
    }
}

.det-headers {
    width: 100%;
    height: 100vh;
    position: relative;
    &__banner {
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        & .containers {
            height: 100%;
            position: relative;
        }
        & h3 {
            margin: auto 0;
            width: 686px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 64px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 10;
            position: absolute;
            top: 50%;
            left: 165px;
            transform: translate(0%, -50%);
        }
    }
}

.det-message {
    .containers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__title {
        margin: 135px 0 0 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.005em;
        font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
        color: #1A242D;
        text-align: left;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        margin: 45px 0 0 0;
        &-photo {
            width: 48px;
            height: 48px;
            background: #749471;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
        }
        &-textarea {
            margin: 0 0 0 72px;
            width: 952px;
            height: 168px;
            background: #FFFFFF;
            border: 1px solid #E1E1E1;
            border-radius: 4px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 125%;
            letter-spacing: 0.005em;
            color: #000;
            background: transparent;
            padding: 24px 0 0 16px;
            &::placeholder {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 125%;
                letter-spacing: 0.005em;
                color: #9A9AB0;
            }
        }
        &-btn {
            width: 118px;
            height: 56px;
            background: #ADD4A9;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 24px 0 0 72px;
            cursor: pointer;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.005em;
            color: #000000;
        }
    }
}