.det-header {
    position: absolute;
    z-index: 10;
    top: 13px;
    width: 100%;
    & .containers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__nav {
        width: 100%;
        position: relative;
        &-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin: 12px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-lang {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                cursor: pointer;
            }
            &-select {
                width: 15px;
                height: 15px;
                background: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 9px;
                cursor: pointer;
            }
            &-basket {
                position: relative;
                cursor: pointer;
                &-count {
                    width: 16px;
                    height: 16px;
                    background: #ADD4A9;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 42px;
                    text-align: center;
                    color: #000000;
                    cursor: pointer;
                }
            }
            &-menu {
                margin: 0 0 0 22px;
                cursor: pointer;
            }
            &-search {
                margin: 0 0 0 32px;
                cursor: pointer;
            }
        }
    }
    &__line {
        margin: 21px 0 0 0;
        width: 100%;
        border-top: 1px solid #FFFFFF;
    }
    &__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas: 
            "itemDetailContent-1 itemDetailContent-2 itemDetailContent-3 itemDetailContent-4 itemDetailContent-5 itemDetailContent-6 itemDetailContent-7 itemDetailContent-8 itemDetailContent-9 itemDetailContent-10"
            ". itemDetailContent-11 itemDetailContent-12 itemDetailContent-13 itemDetailContent-14 itemDetailContent-15 itemDetailContent-16 itemDetailContent-17 itemDetailContent-18 ."
        ;
        &-item {
            font-family: Roboto;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                grid-area: itemDetailContent-1;
            }
            &:nth-child(2) {
                grid-area: itemDetailContent-2;
            }
            &:nth-child(3) {
                grid-area: itemDetailContent-3;
            }
            &:nth-child(4) {
                grid-area: itemDetailContent-4;
                font-size: 14px;
            }
            &:nth-child(5) {
                grid-area: itemDetailContent-5;
                font-size: 14px;
            }
            &:nth-child(6) {
                grid-area: itemDetailContent-6;
            }
            &:nth-child(7) {
                grid-area: itemDetailContent-7;
            }
            &:nth-child(8) {
                grid-area: itemDetailContent-8;
            }
            &:nth-child(9) {
                grid-area: itemDetailContent-9;
            }
            &:nth-child(10) {
                grid-area: itemDetailContent-10;
                font-size: 14px;
            }
            &:nth-child(11) {
                grid-area: itemDetailContent-11;
                font-size: 14px;
            }
            &:nth-child(12) {
                grid-area: itemDetailContent-12;
            }
            &:nth-child(13) {
                grid-area: itemDetailContent-13;
            }
            &:nth-child(14) {
                grid-area: itemDetailContent-14;
            }
            &:nth-child(15) {
                grid-area: itemDetailContent-15;
            }
            &:nth-child(16) {
                grid-area: itemDetailContent-16;
                font-size: 14px;
            }
            &:nth-child(17) {
                grid-area: itemDetailContent-17;
                font-size: 14px;
            }
            &:nth-child(18) {
                grid-area: itemDetailContent-18;
            }
        }
    }
}

.det-headers {
    width: 100%;
    height: 100vh;
    position: relative;
    &__banner {
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        & .containers {
            height: 100%;
            position: relative;
        }
        & h3 {
            margin: auto 0;
            width: 686px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 64px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 10;
            position: absolute;
            top: 50%;
            left: 165px;
            transform: translate(0%, -50%);
        }
    }
}

.det-content {
    & .containers {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 65px 0 0 0;
        width: 707px;
        &-date {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            & h3 {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 30px;
                color: #858585;
            }
            & p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 30px;
                color: #858585;
                margin: 0 0 0 14px;
            }
            &-link {
                margin: 0 0 0 42px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 30px;
                text-decoration-line: underline;
                color: #000000;
            }
        }
        &-add {
            margin: 49px 0 0 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 28px;
            color: #000000;
        }
        &-description {
            margin: 31px 0 0 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 28px;
            color: #000000;
        }
        &-title {
            margin: 36px 0 0 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 28px;
            color: #000000;
        }
        &-text {
            margin: 36px 0 0 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 28px;
            color: #000000;
        }
        &-photo {
            margin: 44px 0 60px 0;
            width: 100%;
            height: 289px;
            position: relative;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & p {
                position: absolute;
                bottom: -48px;
                left: 52px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 28px;
                color: #000000;
            }
        }
    }
    &__add {
        display: flex;
        margin: 65px 0 0 auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-title {
            height: 42px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 42px;
            color: #000000;
        }
        &-last {
            width: 355px;
            height: 100%;
            background: #ADD4A9;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 16px 56px 0 32px;
            margin: 34px 0 103px 0;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 0 16px 0;
                &:last-child {
                    & .det-content__add-last-item-line {
                        display: none;
                    }
                }
                &-date {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    & h3 {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                    & p {
                        margin: 0 0 0 14px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                }
                &-text {
                    height: 54px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 27px;
                    color: #000000;
                }
                &-line {
                    margin: 10px 0 0 0;
                    width: 267px;
                    height: 0px;
                    border-top: 1px solid #FFFFFF;
                }
            }
        }
        &-contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 21px 0 113px 0;
            &-item {
                width: 150px;
                height: 59px;
                background: #ADD4A9;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0 0 8px 0;
                padding: 0 0 0 17px;
                &-line {
                    width: 0;
                    height: 36px;
                    border-left: 1px solid #C1C1C1;
                }
                & svg {
                    margin: 0 15px 0 0;
                }
                &-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 42px;
                    color: #000000;
                    margin: 0 0 27px 20px;
                    & p {
                        height: 13px;
                    }
                    & h3 {
                        height: 13px;
                    }
                }
            }
        }
        &-tabs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 270px;
            &-item {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 42px;
                color: #000000;
                opacity: 0.5;
                cursor: pointer;
                &-active {
                    opacity: 1;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 42px;
                    text-decoration-line: underline;
                    color: #000000;
                }
            }
        }
        &-news {
            margin: 10px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 351px;
                margin: 0 0 12px 0;
            }
            &-photo {
                width: 71px;
                height: 71px;
            }
            &-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin:  0 0 0 13px;
                &-date {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    & h3 {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #858585;
                    }
                    & p {
                        margin: 0 0 0 14px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 30px;
                        color: #858585;
                    }
                }
                &-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
            }
        }
    }
}

.det-message {
    padding: 0 0 100px 0;
    .containers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__title {
        margin: 135px 0 0 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.005em;
        font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
        color: #1A242D;
        text-align: left;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        margin: 45px 0 0 0;
        &-photo {
            width: 48px;
            height: 48px;
            background: #749471;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
        }
        &-textarea {
            resize: none;
            margin: 0 0 0 72px;
            width: 952px;
            height: 168px;
            background: #FFFFFF;
            border: 1px solid #E1E1E1;
            border-radius: 4px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 125%;
            letter-spacing: 0.005em;
            color: #000;
            background: transparent;
            padding: 24px 0 0 16px;
            &::placeholder {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 125%;
                letter-spacing: 0.005em;
                color: #9A9AB0;
            }
        }
        &-btn {
            width: 118px;
            height: 56px;
            background: #ADD4A9;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 24px 0 0 72px;
            cursor: pointer;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.005em;
            color: #000000;
        }
    }
    &__list {
        margin: 63px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-item {
            margin: 0 0 38px 0;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-photo {
                position: absolute;
                top: -15px;
                left: 0;
                width: 48px;
                height: 48px;
                background: #749471;
                border-radius: 50%;
            }
            &-client {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0 0 0 72px;
                &-name {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 120%;
                    letter-spacing: 0.005em;
                    color: #1A242D;
                }
                &-date {
                    margin: 0 0 0 14px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0.005em;
                    color: #9A9AB0;
                }
            }
            &-messages {
                width: 96%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 131%;
                letter-spacing: 0.005em;
                color: #515151;
                margin: 21px 0 0 72px;
            }
        }
    }
}