.ind-header {
    position: absolute;
    z-index: 10;
    top: 13px;
    width: 100%;
    & .containers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__nav {
        width: 100%;
        position: relative;
        &-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin: 12px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-lang {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                cursor: pointer;
            }
            &-select {
                width: 15px;
                height: 15px;
                background: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 9px;
                cursor: pointer;
            }
            &-basket {
                position: relative;
                cursor: pointer;
                &-count {
                    width: 16px;
                    height: 16px;
                    background: #ADD4A9;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 42px;
                    text-align: center;
                    color: #000000;
                    cursor: pointer;
                }
            }
            &-menu {
                margin: 0 0 0 22px;
                cursor: pointer;
            }
            &-search {
                margin: 0 0 0 32px;
                cursor: pointer;
            }
        }
    }
    &__line {
        margin: 21px 0 0 0;
        width: 100%;
        border-top: 1px solid #FFFFFF;
    }
    &__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas: 
            "itemHeaderContent-1 itemHeaderContent-2 itemHeaderContent-3 itemHeaderContent-4 itemHeaderContent-5 itemHeaderContent-6 itemHeaderContent-7 itemHeaderContent-8 itemHeaderContent-9 itemHeaderContent-10"
            ". itemHeaderContent-11 itemHeaderContent-12 itemHeaderContent-13 itemHeaderContent-14 itemHeaderContent-15 itemHeaderContent-16 itemHeaderContent-17 itemHeaderContent-18 ."
        ;
        &-item {
            font-family: Roboto;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                grid-area: itemHeaderContent-1;
            }
            &:nth-child(2) {
                grid-area: itemHeaderContent-2;
            }
            &:nth-child(3) {
                grid-area: itemHeaderContent-3;
            }
            &:nth-child(4) {
                grid-area: itemHeaderContent-4;
                font-size: 14px;
            }
            &:nth-child(5) {
                grid-area: itemHeaderContent-5;
                font-size: 14px;
            }
            &:nth-child(6) {
                grid-area: itemHeaderContent-6;
            }
            &:nth-child(7) {
                grid-area: itemHeaderContent-7;
            }
            &:nth-child(8) {
                grid-area: itemHeaderContent-8;
            }
            &:nth-child(9) {
                grid-area: itemHeaderContent-9;
            }
            &:nth-child(10) {
                grid-area: itemHeaderContent-10;
                font-size: 14px;
            }
            &:nth-child(11) {
                grid-area: itemHeaderContent-11;
                font-size: 14px;
            }
            &:nth-child(12) {
                grid-area: itemHeaderContent-12;
            }
            &:nth-child(13) {
                grid-area: itemHeaderContent-13;
            }
            &:nth-child(14) {
                grid-area: itemHeaderContent-14;
            }
            &:nth-child(15) {
                grid-area: itemHeaderContent-15;
            }
            &:nth-child(16) {
                grid-area: itemHeaderContent-16;
                font-size: 14px;
            }
            &:nth-child(17) {
                grid-area: itemHeaderContent-17;
                font-size: 14px;
            }
            &:nth-child(18) {
                grid-area: itemHeaderContent-18;
            }
        }
    }
}

.ind-headers {
    width: 100%;
    height: 100vh;
    position: relative;
    &__slider {
        & .swiper-button-next {
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            border-radius: 4px;
            content: '';
            display: flex;
            align-content: center;
            justify-content: center;
            right: 38px;
            &::after {
                content: '';
            }
            &-arrow {
                content: url(../svg/index/header-arrow-next.svg);
                margin: 0 0 0 5px;
            }
        }
        & .swiper-button-prev {
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            border-radius: 4px;
            content: '';
            display: flex;
            align-content: center;
            justify-content: center;
            left: 38px;
            &::after {
                content: '';
            }
            &-arrow {
                content: url(../svg/index/header-arrow-prev.svg);
                margin: 0 5px 0 0;
            }
        }
        &-item {
            width: 100%;
            height: 100%;
            position: relative;
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                -webkit-filter: brightness(45%);
            }
        }
        &-title {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & p {
                z-index: 1;
                width: 346px;
                height: 122px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 61px;
                color: #FFFFFF;
            }
        }
    }
}

.ind-last {
    padding: 97px 0 41px 0;
    width: 100%;
    & .containers {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 42px;
            width: 461px;
            color: #000000;
        }
        &-photo {
            width: 635px;
            height: 444px;
            position: relative;
            margin: 49px 0 0 0;
            object-fit: cover;
            &-btn {
                width: 198.02px;
                height: 56px;
                background: #ADD4A9;
                border-radius: 0px 0px 0px 4px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 24px;
                position: absolute;
                bottom: 0;
                left: 0;
                & a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.005em;
                    color: #252019;
                }
                &::after {
                    content: url(../svg/index/last-arrow-next.svg);
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
            }
        }
        &-text {
            margin: 50px 0 0 0;
            width: 584px;
            height: 84px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 28px;
            color: #000000;
        }
        &-add {
            margin: 117px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 42px;
                color: #000000;
            }
            &-line {
                margin: 1px 0 0 26px;
                width: 122px;
                height: 0px;
                border-top: 1px solid #000000;
            }
        }
    }
    &__add {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0 0 auto;
        &-text {
            width: 334px;
            height: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 36px;
            text-transform: lowercase;
            color: #000000;
        }
        &-texts {
            width: 334px;
            height: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 36px;
            text-transform: lowercase;
            color: #000000;
            margin: 40px 0 0 0;
            
        }
        &-photo {
            margin: 27px 0 0 0;
            width: 445px;
            height: 100%;
        }
    }
}

.ind-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &__list {
        width: 100%;
        padding: 35px 0 53px 0;
        background: #ADD4A9;
        & .containers {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &:nth-child(2) {
                margin: 24px 0 0 0;
            }
            &:nth-child(3) {
                margin: 24px 0 0 0;
            }
            &-date {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                & p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                    color: #3A3A3A;
                }
                & h3 {
                    margin: 0 0 0 21px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                    color: #3A3A3A;
                }
            }
            &-text {
                margin: 12px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 42px;
                text-decoration-line: underline;
                color: #000000;
            }
        }
        
    }
    &__block {
        width: 100%;
        padding: 58px 0 160px 0;
        & .containers {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-item {
            width: 231px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 28px;
                color: #000000;
            }
            &-text {
                font-weight: 400;
                margin: 7px 0 0 0;
            }
            &-add {
                margin: 7px 0 0 0;
                font-weight: 400;
                opacity: 0.5;
            }
            &-date {
                margin: 28px 0 0 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                & h3 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                    color: #858585;
                }
                & p {
                    margin: 0 0 0 11px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                    color: #858585;
                }
            }
        }
    }
    &__banner {
        width: 100%;
        margin: 0 0 91px 0;
        &-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 571px;
            padding: 36px 0 0 0;
            position: relative;
            &::after {
                content: "";
                -webkit-filter: brightness(45%);
                background: url(../img/index/banner-new.png) no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &-icons {
            z-index: 10;
        }
        &-add {
            margin: 14px 0 0 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
            z-index: 10;
        }
        &-title {   
            margin: 49px 0 0 0;
            opacity: 1;
            z-index: 10;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
            width: 601px;
        }
        &-text {
            margin: 30px 0 0 0;
            width: 845px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            z-index: 10;
        }
        &-list {
            margin: 62px 0 0 0;
            display: flex;
            width: 866px;
            align-items: flex-start;
            justify-content: space-between;
            z-index: 10;
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-line {
                width: 270px;
                height: 0px;
                border-top: 1px solid #747070;
            }
            &-text {
                margin: 23px 0 0 0;
                width: 231px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 28px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

.ind-politic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 0 91px 0;
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
        text-transform: uppercase;
        color: #000000;
        &.containers {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 42px;
            text-transform: uppercase;
            color: #000000;
        }
    }
    &__wrapper {
        background: #ADD4A9;
        width: 100%;
        padding: 68px 0 55px 0;
        display: flex;
        flex-direction: column;
        margin: 79px 0 0 0;
        align-items: center;
        justify-content: flex-start;
        &-block {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            &-img {
                width: 555px;
                height: 347px;
            }
            &-text {
                margin: 0 0 0 75px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                &-title {
                    width: 339px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 36px;
                    color: #000000;
                }
                &-line {
                    margin: 32px 0 0 0;
                    width: 122px;
                    height: 0px;
                    border: 1px solid #000000;
                }
                &-item {
                    margin: 32px 0 0 0;
                    width: 445px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 28px;
                    color: #000000;
                }
                &-btn {
                    margin: 32px 0 0 0;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 28px;
                    text-decoration-line: underline;
                    color: #000000;
                    background: transparent;
                    cursor: pointer;
                }
            }
        }
        &-list {
            margin: 51px 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            &-item {
                position: relative;
                width: 350px;
                height: 231px;
                & p {
                    position: absolute;
                    top: 99px;
                    left: 23px;
                    width: 220px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 36px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.ind-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 91px 0 0 0;
    & .containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
        text-transform: uppercase;
        color: #000000;
    }
    &__slider {
        width: 100%;
        margin: 79px 0 0 0;
        .swiper-controls {
            position: relative;
        }
        .swiper-button-next {
            content: '';
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            right: -116px;
            top: -175px;
            &-arrow {
                content: url(../svg/index/header-arrow-next.svg);
            }
            &::after {
                content: '';
            }
        }
        .swiper-button-prev {
            content: '';
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            left: -116px;
            top: -175px;
            &-arrow {
                content: url(../svg/index/header-arrow-prev.svg);
            }
            &::after {
                content: '';
            }
        }
        .containers {
            overflow: hidden;
            & .swiper {
                width: 100%;
            }
        }
        &-item {
            width: 370px;
            height: 347px;
            position: relative;
            & img {
                width: 370px;
                height: 347px;
            }
            & p {
                position: absolute;
                bottom: 47px;
                left: 50%;
                transform: translate(-50%, 0%);
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 36px;
                color: #FFFFFF;
            }
        }
    }
    &__wrapper {
        margin: 129px 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "indexBusinessItem-1 indexBusinessItem-2" "indexBusinessItem-1 indexBusinessItem-3";
        gap: 30px 26px;
        &-item {
            &:nth-child(1) {
                width: 542px;
                height: 671px;
                position: relative;
                grid-area: indexBusinessItem-1;
                & img {
                    -webkit-filter: brightness(45%);
                }
                & p {
                    bottom: 57px;
                    left: 61px;
                    position: absolute;
                    width: 420px;
                    height: 84px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 42px;
                    color: #FFFFFF;
                }
            }
            &:nth-child(2) {
                width: 542px;
                height: 320px;
                position: relative;
                grid-area: indexBusinessItem-2;
                & img {
                    -webkit-filter: brightness(45%);
                }
                & p {
                    bottom: 57px;
                    left: 61px;
                    position: absolute;
                    width: 420px;
                    height: 84px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 42px;
                    color: #FFFFFF;
                }
            }
            &:nth-child(3) {
                width: 542px;
                height: 320px;
                position: relative;
                grid-area: indexBusinessItem-3;
                & img {
                    -webkit-filter: brightness(45%);
                }
                & p {
                    bottom: 57px;
                    left: 61px;
                    position: absolute;
                    width: 420px;
                    height: 84px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 42px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.ind-partner {
    padding: 114px 0 0 0;
    & .containers {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
        color: #000000;
    }
    &__slider {
        margin: 20px 0 0 0;
        width: 100%;
        .swiper-controls {
            position: relative;
        }
        .swiper-button-next {
            content: '';
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            right: -116px;
            top: -130px;
            &-arrow {
                content: url(../svg/index/header-arrow-next.svg);
            }
            &::after {
                content: '';
            }
        }
        .swiper-button-prev {
            content: '';
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            left: -116px;
            top: -130px;
            &-arrow {
                content: url(../svg/index/header-arrow-prev.svg);
            }
            &::after {
                content: '';
            }
        }
    }
}

.ind-book {
    padding: 113px 0 0 0;
    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    &__slider {
        width: 100%;
        background: #ADD4A9;
        margin: 56px 0 0 0;
        padding: 106px 0 156px 0;
        & .swiper-controls {
            position: relative;
        }
        .swiper-button-next {
            content: '';
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            right: -116px;
            top: -335px;
            border-radius: 4px;
            &-arrow {
                content: url(../svg/index/header-arrow-next.svg);
            }
            &::after {
                content: '';
            }
        }
        .swiper-button-prev {
            content: '';
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            left: -116px;
            top: -335px;
            border-radius: 4px;
            &-arrow {
                content: url(../svg/index/header-arrow-prev.svg);
            }
            &::after {
                content: '';
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            &-img {
                width: 255px;
                height: 333px;
                background: #FFFFFF;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    width: 165px;
                    height: 264px;
                }
            }
            &-add {
                margin: 19px 0 0 0;
                height: 42px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 42px;
                text-align: center;
                color: #4E4D4D;
            }
            &-title {
                height: 40px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 42px;
                text-align: center;
                color: #FFFFFF;
            }
            &-line {
                margin: 7px 0 0 0;
                width: 255px;
                height: 0;
                border-top: 1px solid #FFFFFF;
            }
            &-price {
                margin: 5px 0 0 0;
                height: 42px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 42px;
                color: #000000;
            }
            &-btns {
                margin: 38px 0 0 0;
                width: 255px;
                height: 50px;
                background: #FFFFFF;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 42px;
                color: #000000;
                cursor: pointer;
            }
            &-btn {
                margin: 17px 0 0 0;
                width: 255px;
                height: 50px;
                background: #749471;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 42px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

