.ind-header {
    position: absolute;
    z-index: 10;
    top: 13px;
    width: 100%;
    & .containers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__nav {
        width: 100%;
        position: relative;
        &-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin: 12px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-lang {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                cursor: pointer;
            }
            &-select {
                width: 15px;
                height: 15px;
                background: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 9px;
                cursor: pointer;
            }
            &-basket {
                position: relative;
                cursor: pointer;
                &-count {
                    width: 16px;
                    height: 16px;
                    background: #ADD4A9;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 42px;
                    text-align: center;
                    color: #000000;
                    cursor: pointer;
                }
            }
            &-menu {
                margin: 0 0 0 22px;
                cursor: pointer;
            }
            &-search {
                margin: 0 0 0 32px;
                cursor: pointer;
            }
        }
    }
    &__line {
        margin: 21px 0 0 0;
        width: 100%;
        border-top: 1px solid #FFFFFF;
    }
    &__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas: 
            "itemHeaderContent-1 itemHeaderContent-2 itemHeaderContent-3 itemHeaderContent-4 itemHeaderContent-5 itemHeaderContent-6 itemHeaderContent-7 itemHeaderContent-8 itemHeaderContent-9 itemHeaderContent-10"
            ". itemHeaderContent-11 itemHeaderContent-12 itemHeaderContent-13 itemHeaderContent-14 itemHeaderContent-15 itemHeaderContent-16 itemHeaderContent-17 itemHeaderContent-18 ."
        ;
        &-item {
            font-family: Roboto;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                grid-area: itemHeaderContent-1;
            }
            &:nth-child(2) {
                grid-area: itemHeaderContent-2;
            }
            &:nth-child(3) {
                grid-area: itemHeaderContent-3;
            }
            &:nth-child(4) {
                grid-area: itemHeaderContent-4;
                font-size: 14px;
            }
            &:nth-child(5) {
                grid-area: itemHeaderContent-5;
                font-size: 14px;
            }
            &:nth-child(6) {
                grid-area: itemHeaderContent-6;
            }
            &:nth-child(7) {
                grid-area: itemHeaderContent-7;
            }
            &:nth-child(8) {
                grid-area: itemHeaderContent-8;
            }
            &:nth-child(9) {
                grid-area: itemHeaderContent-9;
            }
            &:nth-child(10) {
                grid-area: itemHeaderContent-10;
                font-size: 14px;
            }
            &:nth-child(11) {
                grid-area: itemHeaderContent-11;
                font-size: 14px;
            }
            &:nth-child(12) {
                grid-area: itemHeaderContent-12;
            }
            &:nth-child(13) {
                grid-area: itemHeaderContent-13;
            }
            &:nth-child(14) {
                grid-area: itemHeaderContent-14;
            }
            &:nth-child(15) {
                grid-area: itemHeaderContent-15;
            }
            &:nth-child(16) {
                grid-area: itemHeaderContent-16;
                font-size: 14px;
            }
            &:nth-child(17) {
                grid-area: itemHeaderContent-17;
                font-size: 14px;
            }
            &:nth-child(18) {
                grid-area: itemHeaderContent-18;
            }
        }
    }
}

.ind-headers {
    width: 100%;
    height: 100vh;
    position: relative;
    &__slider {
        & .swiper-button-next {
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            border-radius: 4px;
            content: '';
            display: flex;
            align-content: center;
            justify-content: center;
            right: 38px;
            &::after {
                content: '';
            }
            &-arrow {
                content: url(../svg/index/header-arrow-next.svg);
                margin: 0 0 0 5px;
            }
        }
        & .swiper-button-prev {
            width: 55px;
            height: 55px;
            background: #FFFFFF;
            border-radius: 4px;
            content: '';
            display: flex;
            align-content: center;
            justify-content: center;
            left: 38px;
            &::after {
                content: '';
            }
            &-arrow {
                content: url(../svg/index/header-arrow-prev.svg);
                margin: 0 5px 0 0;
            }
        }
        &-item {
            width: 100%;
            height: 100%;
            position: relative;
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                -webkit-filter: brightness(45%);
            }
        }
        &-title {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & p {
                z-index: 1;
                width: 346px;
                height: 122px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                line-height: 61px;
                color: #FFFFFF;
            }
        }
    }
}

.ind-last {
    padding: 97px 0 41px 0;
    width: 100%;
    & .containers {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 42px;
            width: 461px;
            color: #000000;
        }
        &-photo {
            width: 635px;
            height: 444px;
            position: relative;
            margin: 49px 0 0 0;
            object-fit: cover;
            &-btn {
                width: 198.02px;
                height: 56px;
                background: #ADD4A9;
                border-radius: 0px 0px 0px 4px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 24px;
                position: absolute;
                bottom: 0;
                left: 0;
                & a {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.005em;
                    color: #252019;
                }
                &::after {
                    content: url(../svg/index/last-arrow-next.svg);
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
            }
        }
        &-text {
            margin: 50px 0 0 0;
            width: 584px;
            height: 84px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 28px;
            color: #000000;
        }
        &-add {
            margin: 117px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & p {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 42px;
                color: #000000;
            }
            &-line {
                margin: 1px 0 0 26px;
                width: 122px;
                height: 0px;
                border-top: 1px solid #000000;
            }
        }
    }
    &__add {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0 0 auto;
        &-text {
            width: 334px;
            height: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 36px;
            text-transform: lowercase;
            color: #000000;
        }
        &-texts {
            width: 334px;
            height: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 36px;
            text-transform: lowercase;
            color: #000000;
            margin: 40px 0 0 0;
            
        }
        &-photo {
            margin: 27px 0 0 0;
            width: 445px;
            height: 100%;
        }
    }
}

.footer {
    width: 100%;
    background: #749471;
    height: 100%;
    padding: 88px 0 53px 0;
    & .containers {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__add {
        margin: 121px 0 0 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        &-rights {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
        }
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 340px;
        }
        &-item {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
    &__block {
        margin: 40px 0 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        &-list {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin: 0 0 0 135px;
            &-item {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.75;
            }
            &-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                margin: 0 0 17px 0;
            }
        }
        &-contact {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 361px;
            }
            &-item {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
            &-title {
                margin: 101px 0 0 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: -0.01em;
                color: #FFFFFF;
            }
            &-add {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 339px;
                margin: 37px 0 0 0;
                &-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                }
                &-btn {
                    background: transparent;
                    cursor: pointer;
                }
            }
            &-input {
                margin: 25px 0 0 0;
                width: 338px;
                height: 20px;
                left: 183px;
                top: 7419px;
                background: transparent;
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }
}