@media (max-width: 1420px) {
    .ind-header__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(2,1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas:
            "itemHeaderContent-1 itemHeaderContent-2 itemHeaderContent-3 itemHeaderContent-4 itemHeaderContent-5 itemHeaderContent-6 itemHeaderContent-7 itemHeaderContent-8 itemHeaderContent-9"
            "itemHeaderContent-10 itemHeaderContent-11 itemHeaderContent-12 itemHeaderContent-13 itemHeaderContent-14 itemHeaderContent-15 itemHeaderContent-16 itemHeaderContent-17 itemHeaderContent-18";
    }
}
@media (max-width: 1410px) {
    .ind-last__banner-photo {
        width: 585px;
        height: 444px;
        position: relative;
        margin: 49px 0 0 0;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
    }
    .ind-last__add {
        width: 360px;
        overflow: hidden;
    }
    .ind-politic__wrapper-list-item {
        position: relative;
        width: 100%;
        height: 231px;
    }
}
@media (max-width: 1400px) {
    .ind-business__wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "indexBusinessItem-1" "indexBusinessItem-2" "indexBusinessItem-3";
    }
    .ind-business__wrapper-item:nth-child(1) {
        width: 542px;
        position: relative;
        grid-area: indexBusinessItem-1;
        overflow: hidden;
    }
    .ind-business__wrapper {
        width: 100%;
    }
    .ind-business__wrapper-item:nth-child(1) {
        width: 100%;
        overflow: hidden;
        & img {
            width: 100%;
        }
    }
    .ind-business__wrapper-item:nth-child(2) {
        width: 100%;
        overflow: hidden;
        & img {
            width: 100%;
        }
    }
    .ind-business__wrapper-item:nth-child(3) {
        width: 100%;
        overflow: hidden;
        & img {
            width: 100%;
        }
    }
}
@media (max-width: 1350px) {
    .ind-politic__wrapper-list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .ind-politic__wrapper-list-item {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .ind-politic__wrapper-block-text {
        margin: 0 0 0 75px;
    }
    .ind-politic__wrapper-block-text-title {
        width: 100%;
    }
    .ind-politic__wrapper-block-text-item {
        width: 100%;
    }
}
@media (max-width: 1310px) {
    .ind-header__content-item {
        font-size: 11px;
    }
    .ind-header__content-item:nth-child(4) {
        font-size: 11px;
    }
    .ind-header__content-item:nth-child(5) {
        font-size: 11px;
    }
    .ind-header__content-item:nth-child(10) {
        font-size: 11px;
    }
    .ind-header__content-item:nth-child(11) {
        font-size: 11px;
    }
    .ind-header__content-item:nth-child(16) {
        font-size: 11px;
    }
    .ind-header__content-item:nth-child(17) {
        font-size: 11px;
    }
}
@media (max-width: 1270px) {
    .ind-business__slider {
        & .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }
    .ind-last .containers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .ind-last__add {
        margin: 45px 0 90px 0;
    }
    .ind-last .containers {
        position: relative;
    }
    .ind-last__banner-add {
        position: absolute;
        bottom: 0;
        left: 165px;
    }
    .ind-last__banner {
        width: 100%;
    }
    .ind-last__banner-photo {
        width: 100%;
        & img {
            width: 100%;
        }
    }
    .ind-last__banner-title {
        width: 100%;
    }
    .ind-last__banner-text {
        width: 100%;
    }
    .ind-last__add {
        width: 100%;
    }
    .ind-last__add-text {
        width: 100%;
    }
    .ind-last__add-texts {
        width: 100%;
    }
    .ind-last__add-photo {
        width: 100%;
        & img {
            width: 100%;
        }
    }
    .ind-news__block-slider {
        & .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }
}
@media (max-width: 1250px) {
    .footer__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    .footer__block-list{
        margin: 0;
    }
}
@media (max-width: 1200px) {
    .ind-politic__wrapper-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .ind-politic__wrapper-block-text {
        margin: 30px 0 0 0;
    }
    .ind-politic__wrapper-block-img {
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
        }
    }
    .ind-news__banner-text {
        margin: 30px 0 0 0;
        width: 95%;
    }
    .ind-news__banner-list {
        margin: 30px 0 0 0;
        width: 100%;
    }
}
@media (max-width: 1150px) {
    .containers {
        padding: 0 90px;
    }
    .ind-business__slider .swiper-button-next {
        content: "";
        width: 55px;
        height: 55px;
        background: #fff;
        right: -65px;
        top: -175px;
    }
    .ind-business__slider .swiper-button-prev {
        content: "";
        width: 55px;
        height: 55px;
        background: #fff;
        left: -65px;
        top: -175px;
    }
    .ind-partner__slider .swiper-button-next,
    .ind-book__slider .swiper-button-next {
        right: -65px;
    }
    .ind-partner__slider .swiper-button-prev,
    .ind-book__slider .swiper-button-prev {
        left: -65px;
    }
    .ind-headers__slider .swiper-controls {
        position: relative;
        bottom: 45px;
    }
}
@media (max-width: 950px) {
    .ind-partner__slider {
        & .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }
    .ind-header__nav-list {
        & .ind-header__nav-item:nth-child(1) {
            opacity: 0;
        }
    }
    .ind-header__nav-logo {
        left: 85px;
        position: static;
        transform: none;
        width: 130%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000;
        top: 25px;
    }
    .ind-business__slider-item {
        width: 100%;
        & img {
            width: 100%;
            object-fit: contain;
        }
    }
}
@media (max-width: 900px) {
    .footer__block-list {
        display: none;
    }
    .footer__add-list {
        display: none;
    }
}
@media (max-width: 800px) {
    .ind-news__block-slider .swiper-button-next {
        right: 38%;
    }
    .ind-news__block-slider .swiper-button-prev {
        left: 38%;
    }
    .ind-news__banner-wrapper {
        height: 635px;
    }
}
@media (max-width: 750px) {
    .containers {
        padding: 0 30px;
    }
    .ind-business__slider .swiper-button-next {
        right: 0;
    }
    .ind-business__slider .swiper-button-prev {
        left: 0;
    }
    .ind-book__slider .swiper-button-next, .ind-partner__slider .swiper-button-next {
        right: 0;
    }
    .ind-book__slider .swiper-button-prev, .ind-partner__slider .swiper-button-prev {
        left: 0;
    }
    .ind-book__slider .swiper-button-next {
        top: 70px;
    }
    .ind-book__slider .swiper-button-prev {
        top: 70px;
    }
    .ind-headers__slider-item img {
        object-fit: cover;
    }
    .ind-last__banner-add {
        left: 30px;
    }
    .ind-news__banner-title {
        width: 100%;
    }
    .ind-business__slider .swiper-button-prev,
    .ind-business__slider .swiper-button-next {
        background: transparent;
    } 
    .ind-partner__slider .swiper-button-next, .ind-partner__slider .swiper-button-prev {
        background: transparent;
    }
}
@media (max-width: 650px) {
    .ind-business__slider .swiper-button-prev {
        left: -30px;
    }
    .ind-business__slider .swiper-button-next {
        right: -30px;
    }
    .ind-partner__slider .swiper-button-next {
        right: -30px;
    }
    .ind-partner__slider .swiper-button-prev {
        left: -30px;
    }
}
@media (max-width: 600px) {
    .ind-news__banner-wrapper {
        height: 700px;
    }
    .ind-business .containers {
        padding: 0;
    }
    .ind-business__wrapper {
        padding: 0 30px;
    }
    .ind-business__slider-item {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .ind-business__slider .swiper-button-next {
        right: 18px;
        top: -70px;
        background: #fff;
    }
    .ind-business__slider .swiper-button-prev {
        left: 18px;
        top: -70px;
        background: #fff;
    }
}
@media (max-width: 550px) {
    .ind-news__banner .containers {
        padding: 0;
    }
    .basket {
        width: 100%;
    }
    .basket__line,
    .basket__prise,
    .basket__item {
        width: 100%;
    }
    .ind-header__nav-item-menu {
        margin: 0 0 0 30px;
    }
}
@media (max-width: 500px) {
    .ind-business__wrapper-item:nth-child(1) p {
        bottom: 140px;
        left: 10px;
        position: absolute;
        width: 365px;
        height: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 42px;
        color: #fff;
    }
    .ind-business__wrapper-item:nth-child(2) p {
        bottom: 140px;
        left: 10px;
        position: absolute;
        width: 365px;
        height: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 42px;
        color: #fff;
    }
    .ind-business__wrapper-item:nth-child(3) p {
        bottom: 140px;
        left: 10px;
        position: absolute;
        width: 365px;
        height: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 42px;
        color: #fff;
    }
    .footer__block-contact-list {
        width: 100%;
    }
    .ind-last__add-text {
        margin: 45px 0 0 0;
    }
    .ind-politic,
    .ind-partner {
        padding: 0;
    }
    .ind-news__block {
        width: 100%;
        padding: 58px 0 30px 0;
    }
    .ind-news__banner-wrapper {
        height: 755px;
    }
    .ind-header__nav-item-search {
        display: none;
    }
    .ind-partner {
        padding: 55px 0 0 0;
    }
    .language-select-item {
        display: none;
    }
}
@media (max-width: 450px) {
    .basket {
        padding: 41px 25px 0 25px;
    }
}