<div class="basket display-n">
    <div class="basket__title">
        <div class="basket__title-item">Your cart</div>
        <div class="basket__title-close basket-close">@@include('../iconsprite/close.svg')</div>
    </div>
    <div class="basket__line"></div>
    <div class="basket__lists">
        <div class="basket__item">
            <div class="basket__item-photo"></div>
            <div class="basket__item-count">
                <div class="basket__item-count-title">New story</div>
                <div class="basket__item-count-block">
                    <div class="basket__item-count-block-minus">@@include('../iconsprite/minus.svg')</div>
                    <div class="basket__item-count-block-sum">N</div>
                    <div class="basket__item-count-block-plus">@@include('../iconsprite/plus.svg')</div>
                </div>
            </div>
            <div class="basket__item-price">1460$</div>
        </div>
        <div class="basket__item">
            <div class="basket__item-photo"></div>
            <div class="basket__item-count">
                <div class="basket__item-count-title">New story</div>
                <div class="basket__item-count-block">
                    <div class="basket__item-count-block-minus">@@include('../iconsprite/minus.svg')</div>
                    <div class="basket__item-count-block-sum">N</div>
                    <div class="basket__item-count-block-plus">@@include('../iconsprite/plus.svg')</div>
                </div>
            </div>
            <div class="basket__item-price">1460$</div>
        </div>
        <div class="basket__item">
            <div class="basket__item-photo"></div>
            <div class="basket__item-count">
                <div class="basket__item-count-title">New story</div>
                <div class="basket__item-count-block">
                    <div class="basket__item-count-block-minus">@@include('../iconsprite/minus.svg')</div>
                    <div class="basket__item-count-block-sum">N</div>
                    <div class="basket__item-count-block-plus">@@include('../iconsprite/plus.svg')</div>
                </div>
            </div>
            <div class="basket__item-price">1460$</div>
        </div>
    </div>
    <div class="basket__line"></div>
    <div class="basket__prise">
        <div class="basket__prise-text">Text</div>
        <div class="basket__prise-sum">1460$</div>
    </div>
    <div class="basket__line"></div>
    <div class="basket__prise">
        <div class="basket__prise-text">Text</div>
        <div class="basket__prise-sum">1460$</div>
    </div>
    <button class="basket__btn">
        <a href="#">Checkout</a>
    </button>
</div>