<footer class="footer">
    <div class="containers">
        <div class="footer__title">Islamic news</div>
        <div class="footer__block">
            <div class="footer__block-contact">
                <ul class="footer__block-contact-list">
                    <li class="footer__block-contact-item">Facebook</li>
                    <li class="footer__block-contact-item">Instagram</li>
                    <li class="footer__block-contact-item">Linkedin</li>
                    <li class="footer__block-contact-item">Pinterest</li>
                </ul>
                <div class="footer__block-contact-title">Subscribe to the newsletter</div>
                <div class="footer__block-contact-add">
                    <div class="footer__block-contact-add-text">Your email address</div>
                    <button class="footer__block-contact-add-btn">@@include('../iconsprite/index/link.svg')</button>
                </div>
                <input type="text" class="footer__block-contact-input">
            </div>
            <ul class="footer__block-list">
                <div class="footer__block-list-title">Chapter</div>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
            </ul>
            <ul class="footer__block-list">
                <div class="footer__block-list-title">Chapter</div>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
            </ul>
            <ul class="footer__block-list">
                <div class="footer__block-list-title">Chapter</div>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
                <li class="footer__block-list-item">Chapter</li>
            </ul>
        </div>
        <div class="footer__add">
            <div class="footer__add-rights">© 2021 Islamic news.All right reserved</div>
            <ul class="footer__add-list">
                <li class="footer__add-item">Chapter</li>
                <li class="footer__add-item">Chapter</li>
                <li class="footer__add-item">Chapter</li>
                <li class="footer__add-item">Chapter</li>
            </ul>
        </div>
    </div>
</footer>