<section class="ind-header">
    <div class="containers">
        <div class="ind-header__nav">
            <div class="ind-header__nav-logo">Islamic news</div>
            <ul class="ind-header__nav-list">
                <div class="ind-header__nav-item">
                    <select id="language">
                        <option value="english">english</option>
                        <option value="russia">russia</option>
                        <option value="english">english</option>
                        <option value="russia">russia</option>
                        <option value="english">english</option>
                        <option value="russia">russia</option>
                        <option value="english">english</option>
                        <option value="russia">russia</option>
                        <option value="english">english</option>
                        <option value="russia">russia</option>
                        <option value="english">english</option>
                        <option value="russia">russia</option>
                    </select>
                </div>
                <div class="ind-header__nav-item">
                    <div class="ind-header__nav-item-basket basket-open">
                        @@include('../iconsprite/index/basket.svg')
                        <div class="ind-header__nav-item-basket-count">1</div>
                    </div>
                    <div class="ind-header__nav-item-search">@@include('../iconsprite/index/search.svg')</div>
                    <div class="ind-header__nav-item-menu" id="menu-open">@@include('../iconsprite/index/menu.svg')</div>
                    <div class="ind-header__nav-item-close display-n" id="menu-close">@@include('../iconsprite/index/close.svg')</div>
                </div>
            </ul>
        </div>
        <div class="ind-header__line"></div>
        <div class="ind-header__content display-n" id="menu">
            <div class="ind-header__content-item">Home</div>
            <div class="ind-header__content-item">About Us</div>
            <div class="ind-header__content-item">What we do</div>
            <div class="ind-header__content-item">Current Appeals</div>
            <div class="ind-header__content-item">Our Campaigns</div>
            <div class="ind-header__content-item">Media</div>
            <div class="ind-header__content-item">Home</div>
            <div class="ind-header__content-item">About Us</div>
            <div class="ind-header__content-item">What we do</div>
            <div class="ind-header__content-item">Current Appeals</div>
            <div class="ind-header__content-item">Our Campaigns</div>
            <div class="ind-header__content-item">Media</div>
            <div class="ind-header__content-item">Home</div>
            <div class="ind-header__content-item">About Us</div>
            <div class="ind-header__content-item">What we do</div>
            <div class="ind-header__content-item">Current Appeals</div>
            <div class="ind-header__content-item">Our Campaigns</div>
            <div class="ind-header__content-item">Media</div>
        </div>
    </div>
</section>