<div class="modelLogin display-n">
    <div class="modelLogin__entry display-n">
        <div class="modelLogin__entry-close">
            @@include('../iconsprite/close-client.svg')
        </div>
        <div class="modelLogin__entry-title">Войти</div>
        <div class="modelLogin__entry-email">
            <input type="text" placeholder="E-mail">
        </div>
        <div class="modelLogin__entry-password">
            <input type="text" placeholder="Ваш пароль">
        </div>
        <button class="modelLogin__entry-btn">Войти</button>
        <div class="modelLogin__entry-link">Забыли пароль ?</div>
        <div class="modelLogin__entry-reg">
            <p>Нет учетной записи ?</p>
            <span>Зарегистрироваться</span>
        </div>
    </div>
    <div class="modelLogin__reg display-n">
        <div class="modelLogin__reg-close">
            @@include('../iconsprite/close-client.svg')
        </div>
        <div class="modelLogin__reg-title">Зарегистрироваться</div>
        <div class="modelLogin__reg-email">
            <input type="text" placeholder="E-mail">
        </div>
        <div class="modelLogin__reg-password">
            <input type="text" placeholder="Ваш пароль">
        </div>
        <div class="modelLogin__reg-passwords">
            <input type="text" placeholder="Ваш пароль">
        </div>
        <button class="modelLogin__reg-btn">Зарегистрироваться</button>
        <div class="modelLogin__reg-link">Забыли пароль ?</div>
        <div class="modelLogin__reg-reg">
            <p>Есть учетной записи ?</p>
            <span>Войти</span>
        </div>
    </div>
    <div class="modelLogin__regs display-n">
        <div class="modelLogin__regs-close">
            @@include('../iconsprite/close-client.svg')
        </div>
        <div class="modelLogin__regs-title">Вы успешно зарегистрировались</div>
    </div>
    <div class="modelLogin__recovery display-n">
        <div class="modelLogin__recovery-close">
            @@include('../iconsprite/close-client.svg')
        </div>
        <div class="modelLogin__recovery-title">Восстановление пароля</div>
        <div class="modelLogin__recovery-email">
            <input type="text" placeholder="E-mail">
        </div>
        <div class="modelLogin__recovery-error display-n">Пользователь с таким email не найден</div>
        <button class="modelLogin__recovery-btn">Сбросить пароль</button>
        <div class="modelLogin__recovery-link">Забыли пароль ?</div>
        <div class="modelLogin__recovery-reg">
            <p>Есть учетной записи ?</p>
            <span>Войти</span>
        </div>
    </div>
    <div class="modelLogin__recoverys display-n">
        <div class="modelLogin__recoverys-close">
            @@include('../iconsprite/close-client.svg')
        </div>
        <div class="modelLogin__recoverys-title">Информация о восстановление отправлена на email</div>
    </div>
</div>