.card-header {
    position: absolute;
    z-index: 10;
    top: 13px;
    width: 100%;
    & .containers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__nav {
        width: 100%;
        position: relative;
        &-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            text-transform: uppercase;
            color: #000;
        }
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin: 12px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-lang {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #000;
                cursor: pointer;
            }
            &-select {
                width: 15px;
                height: 15px;
                background: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 9px;
                cursor: pointer;
            }
            &-basket {
                position: relative;
                cursor: pointer;
                &-count {
                    width: 16px;
                    height: 16px;
                    background: #000;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 42px;
                    text-align: center;
                    color: #ADD4A9;
                    cursor: pointer;
                }
            }
            &-menu {
                margin: 0 0 0 22px;
                cursor: pointer;
            }
            &-search {
                margin: 0 0 0 32px;
                cursor: pointer;
            }
        }
    }
    &__line {
        margin: 21px 0 0 0;
        width: 100%;
        border-top: 1px solid #000;
    }
    &__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas: 
            "itemHeaderContent-1 itemHeaderContent-2 itemHeaderContent-3 itemHeaderContent-4 itemHeaderContent-5 itemHeaderContent-6 itemHeaderContent-7 itemHeaderContent-8 itemHeaderContent-9 itemHeaderContent-10"
            ". itemHeaderContent-11 itemHeaderContent-12 itemHeaderContent-13 itemHeaderContent-14 itemHeaderContent-15 itemHeaderContent-16 itemHeaderContent-17 itemHeaderContent-18 ."
        ;
        &-item {
            font-family: Roboto;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                grid-area: itemHeaderContent-1;
            }
            &:nth-child(2) {
                grid-area: itemHeaderContent-2;
            }
            &:nth-child(3) {
                grid-area: itemHeaderContent-3;
            }
            &:nth-child(4) {
                grid-area: itemHeaderContent-4;
                font-size: 14px;
            }
            &:nth-child(5) {
                grid-area: itemHeaderContent-5;
                font-size: 14px;
            }
            &:nth-child(6) {
                grid-area: itemHeaderContent-6;
            }
            &:nth-child(7) {
                grid-area: itemHeaderContent-7;
            }
            &:nth-child(8) {
                grid-area: itemHeaderContent-8;
            }
            &:nth-child(9) {
                grid-area: itemHeaderContent-9;
            }
            &:nth-child(10) {
                grid-area: itemHeaderContent-10;
                font-size: 14px;
            }
            &:nth-child(11) {
                grid-area: itemHeaderContent-11;
                font-size: 14px;
            }
            &:nth-child(12) {
                grid-area: itemHeaderContent-12;
            }
            &:nth-child(13) {
                grid-area: itemHeaderContent-13;
            }
            &:nth-child(14) {
                grid-area: itemHeaderContent-14;
            }
            &:nth-child(15) {
                grid-area: itemHeaderContent-15;
            }
            &:nth-child(16) {
                grid-area: itemHeaderContent-16;
                font-size: 14px;
            }
            &:nth-child(17) {
                grid-area: itemHeaderContent-17;
                font-size: 14px;
            }
            &:nth-child(18) {
                grid-area: itemHeaderContent-18;
            }
        }
    }
}

.card-headers {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    margin: 0 0 100px 0;
    padding: 245px 0 0 0;
    & .containers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    &__title {
        white-space: pre;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }
    &__block {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 40px 0 155px 0;
        &-photo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 568px;
            &-element {
                width: 568px;
                height: 568px;
                background: gray;
                border-radius: 4px;
            }
            &-list {
                margin: 21px 0 0 0;
                display: flex;
                align-items: flex-start;
                width: 100%;
                justify-content: space-between;
                padding: 0 50px 0 0;
            }
            &-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &-circle {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    border: 1px solid #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & p {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        color: #000000;
                    }
                }
                &-text {
                    margin: 0 0 0 11px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #000000;
                }
            }
        }
        &-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 0 0 auto;
            width: 521px;
            &-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
            }
            &-price {
                margin: 26px 0 15px 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &-last {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 28px;
                    color: #000000;
                    cursor: pointer;
                }
                &-prev {
                    cursor: pointer;
                    margin: 3px 0 0 20px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    text-decoration-line: line-through;
                    color: #82828B;
                }
            }
            &-line {
                width: 100%;
                height: 2px;
                border-top: 1px solid #E6E6EB;
            }
            &-count {
                margin: 88px 0 0 0;
                display: flex;
                width: 107px;
                align-items: center;
                justify-content: space-between;
                position: relative;
                &::after {
                    content: "Count:";
                    position: absolute;
                    top: -50px;
                    left: 0;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                }
                &-minus {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #F0F0F5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                &-plus {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #F0F0F5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                &-sum {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #000000;
                }
            }
            &-color {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 146px;
                margin: 85px 0 0 0;
                position: relative;
                &::after {
                    content: "Color:";
                    position: absolute;
                    top: -50px;
                    left: 0;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                }
                &-item {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background: #F0F0F5;
                    cursor: pointer;
                    &-active {
                        border: 2px solid #749471;
                    }
                }
            }
            &-btns {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 54px 0 0 0;
                &-btn {
                    width: 309px;
                    height: 56px;
                    background: #749471;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 42px;
                    text-align: center;
                    color: #FFFFFF;
                }
                &-basket {
                    margin: 0 0 0 18px;
                    width: 56px;
                    height: 56px;
                    border: 1px solid #E6E6EB;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 40px 0 0 0;
                &-item {
                    width: 521px;
                    cursor: pointer;
                    height: 58px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #F0F0F5;
                }
            }
        }
    }
    &__add {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }
        &-slider {
            width: 100%;
            margin: 44px 0 0 0;
            & .swiper-slide {
                width: 260px;
            }
            & .swiper-controls {
                position: relative;
            }
            & .swiper-button-next {
                right: 20px;
                left: auto;
                top: -362px;
                content: "";
                &::after {
                    content: "";
                }
            }
            & .swiper-button-prev {
                right: 75px;
                left: auto;
                top: -360px;
                content: "";
                &::after {
                    content: "";
                }
            }
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 260px;
                &-photo {
                    width: 260px;
                    height: 260px;
                    background: gray;
                }
                &-title {
                    margin: 20px 0 0 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #000000;
                }
                &-price {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row-reverse;
                    margin: 10px 0 0 0;
                    &-last {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                        margin: 0 8px 0 0;
                    }
                    &-last {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        text-decoration-line: line-through;
                        color: #82828B;
                        margin: 0 0 0 8px;
                    }
                }
            }
        }
    }
}