.catl-header {
    position: absolute;
    z-index: 10;
    top: 13px;
    width: 100%;
    & .containers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__nav {
        width: 100%;
        position: relative;
        &-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            text-transform: uppercase;
            color: #000;
        }
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin: 12px 0 0 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-lang {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #000;
                cursor: pointer;
            }
            &-select {
                width: 15px;
                height: 15px;
                background: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 9px;
                cursor: pointer;
            }
            &-basket {
                position: relative;
                cursor: pointer;
                &-count {
                    width: 16px;
                    height: 16px;
                    background: #000;
                    border-radius: 50%;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 42px;
                    text-align: center;
                    color: #ADD4A9;
                    cursor: pointer;
                }
            }
            &-menu {
                margin: 0 0 0 22px;
                cursor: pointer;
            }
            &-search {
                margin: 0 0 0 32px;
                cursor: pointer;
            }
        }
    }
    &__line {
        margin: 21px 0 0 0;
        width: 100%;
        border-top: 1px solid #000;
    }
    &__content {
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        gap: 25px 10px;
        grid-template-areas: 
            "itemHeaderContent-1 itemHeaderContent-2 itemHeaderContent-3 itemHeaderContent-4 itemHeaderContent-5 itemHeaderContent-6 itemHeaderContent-7 itemHeaderContent-8 itemHeaderContent-9 itemHeaderContent-10"
            ". itemHeaderContent-11 itemHeaderContent-12 itemHeaderContent-13 itemHeaderContent-14 itemHeaderContent-15 itemHeaderContent-16 itemHeaderContent-17 itemHeaderContent-18 ."
        ;
        &-item {
            font-family: Roboto;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                grid-area: itemHeaderContent-1;
            }
            &:nth-child(2) {
                grid-area: itemHeaderContent-2;
            }
            &:nth-child(3) {
                grid-area: itemHeaderContent-3;
            }
            &:nth-child(4) {
                grid-area: itemHeaderContent-4;
                font-size: 14px;
            }
            &:nth-child(5) {
                grid-area: itemHeaderContent-5;
                font-size: 14px;
            }
            &:nth-child(6) {
                grid-area: itemHeaderContent-6;
            }
            &:nth-child(7) {
                grid-area: itemHeaderContent-7;
            }
            &:nth-child(8) {
                grid-area: itemHeaderContent-8;
            }
            &:nth-child(9) {
                grid-area: itemHeaderContent-9;
            }
            &:nth-child(10) {
                grid-area: itemHeaderContent-10;
                font-size: 14px;
            }
            &:nth-child(11) {
                grid-area: itemHeaderContent-11;
                font-size: 14px;
            }
            &:nth-child(12) {
                grid-area: itemHeaderContent-12;
            }
            &:nth-child(13) {
                grid-area: itemHeaderContent-13;
            }
            &:nth-child(14) {
                grid-area: itemHeaderContent-14;
            }
            &:nth-child(15) {
                grid-area: itemHeaderContent-15;
            }
            &:nth-child(16) {
                grid-area: itemHeaderContent-16;
                font-size: 14px;
            }
            &:nth-child(17) {
                grid-area: itemHeaderContent-17;
                font-size: 14px;
            }
            &:nth-child(18) {
                grid-area: itemHeaderContent-18;
            }
        }
    }
}

.catl-headers {
    font-family: Roboto;
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    margin: 0 0 100px 0;
    padding: 200px 0 0 0;
    & .containers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #000000;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 41px 0 0 0;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 2px;
            border-top: 1px solid #E6E6EB;
        }
        &-select {
            width: 580px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-item {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #000000;
                position: relative;
                cursor: pointer;
                &::after {
                    content: url(../svg/catalog/arrow-down.svg);
                    position: absolute;
                    top: -2px;
                    right: -20px;
                    cursor: pointer;
                }
            }
        }
    }
    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 22px;
        margin: 40px 0 0 0;
        justify-items: self-end;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 260px;
            height: 366px;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 3px 52px rgba(90, 92, 102, 0.06);
            transition: all 0.5 ease;
            &:hover {
                transition: all 0.5 ease;
                & .catl-headers__content-item-arrow {
                    transition: all 0.5 ease;
                    display: flex;
                    transition: all 0.5 ease;
                }
            }
            &-photo {
                width: 260px;
                height: 260px;
                border-radius: 4px;
                background: gray;
            }
            &-title {
                margin: 20px 0 0 10px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 38px;
                color: #000000;
            }
            &-price {
                margin: 9.5px 0 0 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &-last {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
                &-prev {
                    margin: 0 0 0 16px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    text-decoration-line: line-through;
                    color: #82828B;
                }
            }
            &-arrow {
                transition: all 0.5 ease;
                width: 46px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ADD4A9;
                border-radius: 23px;
                position: absolute;
                top: 235px;
                right: 16px;
                display: none;
                transition: all 0.5s ease;
                cursor: pointer;
            }
        }
    }
    &__btns {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 100px 0 0 0;
    }
    &__btn {
        width: 255px;
        height: 50px;
        background: #749471;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
    }
}



.catl-headers {
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        &-back {
            cursor: pointer;
            position: absolute;
            top: -55px;
        }
        &-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &-title {
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 150%;
                letter-spacing: 0.5px;
                color: #FFFFFF;
            }
            &-filter {
                position: relative;
                width: 100%;
                &-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    cursor: pointer;
                }
                &-title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 38px;
                    color: #000000;
                }
                &-icon {
                    background: #749471;
                    border-radius: 21px;
                    width: 42px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & svg {
                        margin: 1.5px 0 0 0;
                    }
                }
                &-wrapper {
                    transition: all 0.5s ease;
                    position: absolute;
                    width: 224px;
                    height: 200px;
                    top: 60px;
                    right: 0px;
                    border-radius: 20px;
                    z-index: 100;
                    padding: 23px 0 20px 14px;
                    background: #749471;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 9px;
                    
                }
                &-discard {
                    margin: 25px 0 0 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    & p {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        text-decoration-line: underline;
                        color: #FFFFFF;
                        text-shadow: 0px 0px 10px #414141;
                        margin: 0 15px 0 0;
                    }
                }
                &-range {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    padding: 0 10px 0 0;
                    position: relative;
                    margin: 65px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &::after {
                        content: "";
                        position: absolute;
                        top: -20px;
                        left: 45px;
                        width: 109px;
                        height: 2px;
                        background: #fff;
                        z-index: -1;
                    }
                    &-1 {
                        &::-webkit-slider-thumb {
                            margin: -27.2px 0 0 0;
                        }
                    }
                    &-2 {
                        &::-webkit-slider-thumb {
                            margin: -27.3px 0 0 0;
                        }
                    }
                    &-value {
                        &-1 {
                            position: absolute;
                            top: -48px;
                            left: 36px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 11px;
                            line-height: 16px;
                            color: #FFFFFF;
                            text-shadow: 0px 0px 10px #414141;
                        }
                        &-2 {
                            position: absolute;
                            top: -48px;
                            right: 48px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 11px;
                            line-height: 16px;
                            color: #FFFFFF;
                            text-shadow: 0px 0px 10px #414141;
                        }
                    }
                    &-next {
                        position: absolute;
                        top: -28px;
                        right: 26px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        color: #FFFFFF;
                        text-shadow: 0px 0px 10px #414141;
                    }
                    &-prev {
                        position: absolute;
                        top: -27px;
                        left: 18px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        color: #FFFFFF;
                        text-shadow: 0px 0px 10px #414141;
                    }
                    & input[type='range'] {
                        // overflow: hidden;
                        width: 115px;
                        -webkit-appearance: none;
                        // background: transparent;
                        // position: relative;
                    }
                    
                    & input[type='range']::-webkit-slider-runnable-track {
                        height: 0px;
                        -webkit-appearance: none;
                        background: transparent;
                    }
                    
                    & input[type='range']::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        width: 16px;
                        height: 16px;
                        background: #fff;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    
                    & input[type="range"]::-moz-range-progress {
                        background-color: #43e5f7; 
                    }
                    & input[type="range"]::-moz-range-track {  
                        background-color: #9a905d;
                    }
                    & input[type="range"]::-ms-fill-lower {
                        background-color: #43e5f7; 
                    }
                    & input[type="range"]::-ms-fill-upper {  
                        background-color: #9a905d;
                    }
                }
            }
        }
        &-collection {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px 30px;
            width: 100%;
            height: 100%;
            margin: 37px 0 0 0;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 255px;
                height: 350px;
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding: 21px;
            }
            &-img {
                width: 213px;
                height: 184px;
                background: #001F71;
                border-radius: 10px;
                position: relative;
                &-item {
                    position: absolute;
                    right: 13px;
                    bottom: 11px;
                    width: 32px;
                    height: 32px;
                    background: #30333A;
                    border-radius: 50%;
                    border: 1px solid #854FC8;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-title {
                margin: 23px 0 0 0;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 118%;
                letter-spacing: 0.5px;
                color: #FBFCFF;
            }
            &-price {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                margin: 21px 0 0 0;
                &-balls {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 26px;
                    position: relative;
                    &::after {
                        content: url(../svg/march/money.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-reputation {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 41px;
                    position: relative;
                    &::after {
                        content: url(../svg/march/star.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-sum {
                    width: 83px;
                    height: 31px;
                    background: #001F71;
                    border-radius: 15.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 0 28px;
                    & p {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 180%;
                        letter-spacing: 0.5px;
                        color: #FBFCFF;
                        margin: 2px 0 0 0;
                    }
                }
            }
            &-add {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin: 11px 0 0 0;
                &-shop {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                &-share {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-calendar {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-sum {
                    margin: 5px 0 0 21px;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #BBBBBB;
                }
            }
        }
        &-collections {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px 30px;
            width: 100%;
            height: 100%;
            margin: 37px 0 0 0;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 255px;
                height: 350px;
                background: #04133C;
                border: 1px solid #002685;
                box-shadow: 3px 3px 6px rgba(222, 51, 254, 0.2), -3px -3px 6px rgba(22, 184, 195, 0.2);
                border-radius: 20px;
                padding: 21px;
            }
            &-img {
                width: 213px;
                height: 184px;
                background: #001F71;
                border-radius: 10px;
                position: relative;
                &-item {
                    position: absolute;
                    right: 13px;
                    bottom: 11px;
                    width: 32px;
                    height: 32px;
                    background: #30333A;
                    border-radius: 50%;
                    border: 1px solid #854FC8;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-title {
                margin: 23px 0 0 0;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 118%;
                letter-spacing: 0.5px;
                color: #FBFCFF;
            }
            &-price {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                margin: 21px 0 0 0;
                &-balls {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 26px;
                    position: relative;
                    &::after {
                        content: url(../svg/march/money.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-reputation {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin: 0 0 0 41px;
                    position: relative;
                    &::after {
                        content: url(../svg/march/star.svg);
                        position: absolute;
                        left: -26px;
                        top: 0;
                    }
                }
                &-sum {
                    width: 83px;
                    height: 31px;
                    background: #001F71;
                    border-radius: 15.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 0 28px;
                    & p {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 180%;
                        letter-spacing: 0.5px;
                        color: #FBFCFF;
                        margin: 2px 0 0 0;
                    }
                }
            }
            &-add {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin: 11px 0 0 0;
                &-shop {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                &-share {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-calendar {
                    width: 32px;
                    height: 32px;
                    background: #001F71;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0 0 0 10px;
                }
                &-sum {
                    margin: 5px 0 0 21px;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 150%;
                    letter-spacing: 0.5px;
                    color: #BBBBBB;
                }
            }
        }
        &-add {
            margin: 87px auto 0 auto;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            text-decoration-line: underline;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: transparent;
        }
        &-close {
            margin: 87px auto 0 auto;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            text-decoration-line: underline;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: transparent;
        }
    }
}


//! Input range price 


.price-range-slider {
    width: 155px;
    border: 0;
    padding: 0;
}

.price-wrap {
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    font-size: 0.9em;
    color: #BCBCBC;
}
.price-wrap-1 {

    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;

    color: #FFFFFF;

    text-shadow: 0px 0px 10px #414141;
        & label {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
    }
    & input {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
    }
}
.price-wrap-2 {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #414141;
    & label {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
    }
    & input {
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        text-shadow: 0px 0px 10px #414141;
        width: 30px;
    }
}

.price-range-slider .price-field {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.price-range-slider .price-field input[type=range] {
    position: absolute;
    color: transparent;
    
}
input {
    background-color: transparent;
}


.price-range-slider .price-field input[type=range] {
    width: 100%;
    height: 7px;
    outline: 0;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-range-slider .price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-range-slider .price-field input[type=range]:active,
.price-range-slider .price-field input[type=range]:focus {
    outline: 0;
}

.price-range-slider .price-field input[type=range]::-ms-track {
    width: 100%;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
}


.price-range-slider .price-field input[type=range]::-webkit-slider-thumb {
    /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin-top: -10px;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: -8px 0 0 0;
}

.price-range-slider .price-field input[type=range]::-moz-range-thumb {
    /* Firefox */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin-top: -10px;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price-range-slider .price-field input[type=range]::-ms-thumb {
    /* IE */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin-top: -10px;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=range]::-webkit-slider-runnable-track {
	width: 109px;
    height: 2px;
    background: #fff;
}
input[type=range]::-moz-range-track {

}
input[type=range]::-ms-track { 

}


//! ---------------------------------------------------------------------------------------------------


//! 1-й вид checkbox в фильтре 
.catl-headers__nav-text-filter-checkbox {
    position: relative;
    margin-bottom: 2px;
}
.catl-headers__nav-text-filter-checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.catl-headers__nav-text-filter-checkbox__label {
    padding-left: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #414141;
    cursor: pointer;
}
.catl-headers__nav-text-filter-checkbox__label:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    left: 1062px;
    top: 295px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;
}
.catl-headers__nav-text-filter-checkbox__input:checked + .catl-headers__nav-text-filter-checkbox__label:before {
    background-color: #000;
    border-color: #000;
}
.catl-headers__nav-text-filter-checkbox__input:checked + .catl-headers__nav-text-filter-checkbox__label:after {
    opacity: 1;
}

//! ---------------------------------------------------------------------------------------------------



//! 2-й вид checkbox в фильтре 
.catl-headers__nav-text-filter-checkboxs {
    position: relative;
    margin: 15px 0 2px 3px;
}
.catl-headers__nav-text-filter-checkboxs__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.catl-headers__nav-text-filter-checkboxs__label {
    padding-left: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #414141;
    cursor: pointer;
}
.catl-headers__nav-text-filter-checkboxs__label:before {
    content: "";
    display: block;
    background: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 1;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border-radius: 7px;
    transition: background .1s linear, border .1s linear;
}
.catl-headers__nav-text-filter-checkboxs__label:after {
    content: "";
    display: block;
    background-size: 12px 12px;
    opacity: 0;
    position: absolute;
    top: 11px;
    left: 4px;
    z-index: 2;
    transition: opacity .1s linear;
    width: 6px;
    height: 6px;
    background: #16B8C3;
    border-radius: 7px;
}
.catl-headers__nav-text-filter-checkboxs__input:checked + .catl-headers__nav-text-filter-checkboxs__label:after {
    opacity: 1;
}


//! ---------------------------------------------------------------------------------------------------

